.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navdark {
  background-image: linear-gradient(to right, #38B6FF, rgb(0, 0, 0));
}

.navLink {
  color: white;
}

.toggler-icon {
  color: white;
}

.me-2 {
  margin: 5px
}

.footer-container {
  background-color: rgb(53, 52, 52);
  color: white;
}

.footer-container p, .footer-container a, .footer-container li,.footer-container h5 {
  color: white;
  text-align: left;
}

/* Optionally, style the links on hover */
.footer-container a:hover {
  color: gray;
}

.footer-content {
  padding: 2%; /* Adjust the padding value as per your requirement */
}

.no-bullets {
  list-style: none;
}

.no-bullets li a {
  color: rgb(255, 255, 255); /* Set the color of the <li> items to blue */
}

/* Optionally, style the links on hover */
.no-bullets li a:hover {
  color: lightblue; /* Change the link color on hover */
}

.Container {
  width: 100%;
  max-width: 100%;
}

.carousel-image {
  width: 100%;
  height: 60vh; /* Adjust the height as per your requirement */
  object-fit: cover;
}

@media (max-width: 767px) {
  .carousel-image {
    height: 40vh; /* Adjust the height for smaller screens */
  }
}

.carousel-container {
  width: 100%;
  max-width: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-caption-content {
  background-color: rgba(0, 0, 0, 0.3); /* Use rgba with alpha value for opacity */
  padding: 10px;
  color: white; /* Set text color to white for better readability */
}

.carousel-caption-content h3,
.carousel-caption-content p {
  margin: 0;
}

@media (max-width: 767px) {
  .hide-on-small-screen {
    display: none; /* Hide <p> elements on small screens */
  }
}

